/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/
// The path for our ionicons font files, relative to the built CSS in www/css
//$ionicons-font-path: "../lib/ionic/fonts" !default;

$item-divider-bg:                 #f5f5f5 !default;
$base-background-color:           #fff !default;
$positive:                        #364D5C !default;
$light:                           #EEF0F2 !default;
$stable:                          #22AAA1 !default;
$calm:                            #00b0f0 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #293C46 !default;

@import "../lib/ionic/scss/ionic";

$priceBackgroundColor: darken($light, 6);

ul.list-inline {
  li {
    display: inline-block;
    margin-right: 20px;
  }
}

#mission_map_canvas {
  width:100%;
  height:120px;
  top:64px;
  position:relative;
}
#map_canvas{
  top: 93px;
}
#myOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#infoWnd_frame {
  position: absolute;
  width: 300px;
  height: 80px;
  background-size: contain;
}
#infoWnd_body {
  position: absolute;
  width: 300px;
  height: 80px;
  left: 0px;
  top: 0px;
}
.popover_priceDiv {
  font-size: 18px;
  font-weight:bold;
  vertical-align: middle;
  font-family: Helvetica,sans-serif;
  padding: 10px;
  padding-top: 20px;
  text-align:center;
  background-color: $calm;
  color: white;
  display: inline;
  float: left;
  height: 80px;
  width: 60px;
}
.popover_infoDiv {
  font-size: 14px;
  font-family: Helvetica,sans-serif;
  background-color: #3b3b3a;
  padding: 10px;
  color: white;
  display: inline;
  float: left;
  height: 100%;
  width: 200px;
}
.popover_arrowDiv {
  font-size: 14px;
  font-family: Helvetica,sans-serif;
  background-color: #3b3b3a;
  padding: 0px;
  color: white;
  display: inline;
  float: left;
  line-height: 80px;
  width: 20px;
}
.popover_header {
  font-size: 18px;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #3b3b3a;
  clear: both;
  left: 145px;
  position: relative;
}

.item-right-arrow {
float: right;
line-height: 80px;
display: block;
margin: -7px;
background-color: $priceBackgroundColor;
padding-left: 4px;
padding-right: 4px;
text-align: center;
font-weight: bold;
font-size: 24px;
}

.item-right-text {
float: right;
height: 80px;
display: block;
margin-top: -7px;
margin-bottom: -7px;
padding-top: 16px;
background-color: $priceBackgroundColor;
padding-left: 16px;
padding-right: 8px;
font-size: 20px;
text-align: center;
}

.grey {
  color: #b3b1b2;
}

.blue {
  color: $calm;
}

.big-number {
  font-size: 28px;
}

.black {
  color: black;
}

.mission-list .item {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
}

.mission-show-content {
  top: 184px !important;
}
.has-tabs.pane{
  top: 93px;
}
.task-picture img{
  width: 100%;
}

//.invalid-input{
//  border-bottom: solid 1px darkred;
//}

.login-error{
  color: #a94442;
  background-color: #f2dede;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  font-size: 14px;
}

form {
  label.item.has-error {
    border-bottom: 1px solid red;
  }
  label.item {
    margin-bottom: 5px;
  }
}


.slider-pager{
  top: 20px;
}
.slider-slides{
  height: 500px;
  top: 50px;
}
.task-save-button{
//  position: absolute;
//  bottom: 20px;
}
.slider{
  height: 600px;
}

.task-item {
  line-height: 40px;
}
.icon.green{
  color: green;
}
.task-list{
//  height: 500px;
}
