<ion-view class="pane" title="Tasks" cache-view="false">
  <ion-content padding="true" class="has-header">
    <div class="list task-list">
      <a class="item item-icon-right task-item" ng-repeat="task in mission.tasks" href="#app/tasks-answer/{{mission._id}}/{{$index}}">
        <i class="icon ion-checkmark-circled" ng-class="task.answered ? 'green' : ''"></i>
        {{task.title}}
      </a>
    </div>
    <button ng-disabled="!can_submit" class="button button-balanced button-block task-save-button" ng-click="submitData()">Submit</button>
  </ion-content>
</ion-view>
