<ion-view>
  <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide>
      <div class="box even"><h1>First</h1></div>
      <button class="button button-block button-positive" ng-click="next()">
        Dalej
      </button>
    </ion-slide>
    <ion-slide>
      <div class="box odd"><h1>Second</h1></div>
      <button class="button button-block button-positive" ng-click="next()">
        Dalej
      </button>
    </ion-slide>
    <ion-slide>
      <div class="box even"><h1>Third</h1></div>
      <button class="button button-block button-positive" ng-click="next()">
        Dalej
      </button>
    </ion-slide>
    <ion-slide>
      <div class="box odd">
        <h1>Last</h1>
      </div>
      <button class="button button-block button-calm" ng-click="login()">
        Login
      </button>
    </ion-slide>
  </ion-slide-box>
</ion-view>
