<ion-view title="Znajdz misje">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-striped tabs-top tabs-icon-left">
    <ion-tab title="{{'TAB_LIST' | translate}}" icon="ion-android-note" on-select="selectTab(1)">

      <ion-content padding="true" class="has-header has-tabs">
        <ion-list>
	        <ion-item class="item item-icon-left" ng-repeat="mission in missions" ng-click="gotoMission(mission)">
	      	<i class="icon ion-location blue"></i>
	      	<i class="item-right-arrow ion-chevron-right grey"></i>
	      	<i class="item-right-text blue" ><i class="big-number">{{mission.price}}</i><br />PLN</i>
	      	<h2>{{mission.title}}</h2>
	      	<p><i class="black">{{mission.company}}</i><br />
	      	<i class="blue">{{mission.daysLeft}}</i>&nbsp;{{'Missions.List.DAYS_LEFT' | translate}}&nbsp;&nbsp;
	      	<i class="blue">{{mission.address.distance}}</i>&nbsp;{{'Missions.List.KMS_AWAY' | translate}}<br />
	      	</p>
	      	</ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="{{'TAB_MAP' | translate}}" icon="ion-map" on-select="selectTab(2)">
      <ion-content padding="true" class="has-header" scroll="false">
	    <div missions-map="map" missions="missions"></div>
      </ion-content>
    </ion-tab>

  </ion-tabs>
</ion-view>
