<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title" translate="Missions.Activate.Title"></h1>

  </ion-header-bar>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <p translate="Missions.Activate.Label"></p>

      <p translate="Missions.Activate.TimeToExecute"></p>
    </div>
    <div class="button-bar">
      <a class="button button-balanced button-block" nav-clear ng-click="accept()"
         translate="Missions.Activate.AcceptButton"></a>
      <a class="button button-assertive button-block" ng-click="closeModal()"
         translate="Missions.Activate.CancelButton"></a>
    </div>

  </ion-content>
</ion-modal-view>
