  <ion-modal-view>
    <ion-header-bar class="bar-positive">
      <h1 class="title" translate="{{modal_text.title}}"></h1>

  </ion-header-bar>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <p translate="{{modal_text.label}}"></p>

      <p ng-show="modal_text.time" translate="{{modal_text.time}}"></p>
    </div>
    <div class="button-bar">
      <a class="button button-balanced button-block" nav-clear ng-click="modal_text.action == 0 ? accept() : cancelMission()"
         translate="{{modal_text.accept}}"></a>
      <a class="button button-assertive button-block" ng-click="closeModal()"
         translate="{{modal_text.cancel}}"></a>
    </div>

  </ion-content>
</ion-modal-view>
