<ion-view title="{{'Missions.Show.Title' | translate}}">
	<single-mission-map mission="mission"></single-mission-map>

  <ion-content padding="true" class="has-header mission-show-content">
    <h1 ng-bind="mission.title"></h1>

    <div>
      <div class="item">
        <i class="icon ion-ios7-timer-outline positive"></i>
        <span class="positive" translate="Missions.Show.DueInTitle"></span>
        <due time="dueTime"></due>

      </div>
      <div class="item item-text-wrap">

        <i class="icon ion-ios7-checkmark-outline positive"></i>
        <span class="positive" translate="Missions.Show.TasksHeader"></span>

        <ul class="list-inline">
          <li ng-repeat="task in mission.tasks">
            <i class="icon {{task.icon}} positive"></i>
            {{'TaskType.'+ task.type | translate}}: {{task.count}}
          </li>
        </ul>


      </div>

      <div class="item item-divider" translate="Missions.Show.InstructionsHeader"></div>
      <div class="item item-text-wrap">
        <p ng-bind-html="mission.instructions">
        </p>
        <a ng-click="triggerAction()" class="button button-balanced button-block" translate="{{buttonLabelKey}}"></a>
      </div>

    </div>


  </ion-content>
</ion-view>
