<ion-view class="pane" title="Tasks" cache-view="false">
  <ion-content padding="true" class="has-header">
    <!--<div class="scroll padding">-->
    <!--<div class="scroll padding" style="-webkit-transform: translate3d(0px, 32px, 0px) scale(1);">-->
    <ion-slide-box delegate-handle="tasks" active-slide="startSlide">
      <ion-slide ng-repeat="task in mission.tasks">
        <div class="task-radio" ng-if="task.type == 'yes/no'">
          <div class="item item-divider">{{task.title}}</div>
          <div class="item item-body">
            <label class="item item-radio">
              <input type="radio" value="yes" ng-model="answers[task._id].answer">
              <div class="item-content">
                Yes
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
              <input type="radio" value="no" ng-model="answers[task._id].answer">
              <div class="item-content">
                No
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
          </div>
        </div>
        <div class="task-picture" ng-if="task.type == 'picture'">
          <div class="item item-divider">{{task.title}}</div>
          <div class="item item-body">
            <div
              style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">

              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" ng-show="!answers[task._id].url"></i>
              <img ng-show="answers[task._id].url" ng-src="{{answers[task._id].url}}" alt="pic" />
            </div>
            <button class="button button-stable button-block" ng-click="showActionsheet(task._id)">Add Photo</button>
          </div>
        </div>
        <div class="task-text" ng-if="task.type == 'text'">
          <div class="item item-divider">{{task.title}}</div>
          <div class="item item-body">
            <label class="item item-input">
              <textarea ng-model="answers[task._id].answer"> </textarea>
            </label>
          </div>
        </div>
        <button class="button button-balanced button-block task-save-button" ng-click="saveData()">Save</button>
      </ion-slide>
    </ion-slide-box>
    <!--</div>-->
    <!--<div class="scroll-bar scroll-bar-v">-->
    <!--<div class="scroll-bar-indicator"-->
    <!--style="height: 300px; -webkit-transform: translate3d(0px, 0px, 0px) scaleY(0.893333333333333); -webkit-transform-origin: 50% 0%;"></div>-->
    <!--</div>-->
  </ion-content>
</ion-view>
